[submodule "bash-simplify"]
	path = bash-simplify
	url = https://prgrmz07:S9UWyxCXr55tD3SiWVxX@gitcode.net/crk/bash-simplify.git
[submodule "fmtlib-fmt"]
	path = fmtlib-fmt
	url = https://prgrmz07:UUFZhAXcBNA24zzxbXHg@gitcode.net/crk/fmtlib-fmt.git
[submodule "yhirose--cpp-httplib"]
	path = yhirose--cpp-httplib
	url = https://gitcode.com/crk/yhirose--cpp-httplib.git
[submodule "nlohmann--json"]
	path = nlohmann--json
	url = https://gitcode.com/crk/nlohmann--json.git
